* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(140, 143, 141);
}

.granpadre {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;


}

.padre {
   
    flex-flow: column nowrap;
    margin: 20px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;

}

.top {
    background: rgb(252, 252, 252);
    display: flex;
    flex-flow: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
}


.pie {
    background: rgb(251, 251, 252);
    padding: 15px;
    
}

img {
    width: 100%;
    height: 400px;
}

.subtitulo {
    flex: 1px;
    padding: 10px;
    
}

.numero {
    padding: 10px;
}

h1 {
    text-align: center;
}
header {
    background-color: white;
    padding: 20px 0;
}